<div class="columns">
  <div class="column is-10 is-offset-1">
    <div class="field has-addons is-horizontal">
      <div class="control is-expanded">
        <input class="input" type="text" placeholder="Enter URL">
      </div>
      <div class="control">
        <button class="button is-info">
          <span class="icon"><i class="fas fa-compress-arrows-alt"></i></span>
          <span>Compress me!</span>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="columns">
  <div class="column is-10 is-offset-1">
    <table class="table">
      <tbody>
        <tr>
          <th>
            <span class="icon"><i class="fas fa-link"></i></span>
            <span>Original URL:</span>
          </th>
          <td></td>
        </tr>
        <tr>
          <th>
            <span class="icon"><i class="fas fa-link"></i></span>
            <span>Short version:</span>
          </th>
          <td></td>
        </tr>
        <tr>
          <th>
            <span class="icon"><i class="fas fa-clock"></i></span>
            <span>Expires on:</span>
          </th>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>