<div class="columns has-text-centered" *ngIf="stats">
  <div class="column is-10 is-offset-1">
    <span>We have <strong>{{ stats.reducedUrls }}</strong> URLs averaging <strong>{{ stats.averageUrlSize }}</strong>
      letters long that are now <strong>{{ stats.reductionPercentage + '%'}}</strong> smaller,
      with over <strong>{{ stats.reducedLeters }}</strong> reduced letters.</span>
  </div>
</div>

<div class="columns has-text-centered" *ngIf="stats">
  <div class="column is-10 is-offset-1">
    <span><strong>Keep 'em comin'!</strong></span>
  </div>
</div>


<div class="columns">
  <div class="column is-10 is-offset-1">
    <div class="field has-addons is-horizontal">
      <div class="control is-expanded">
        <input id="txtUrl" class="input" type="url" placeholder="Enter URL" [(ngModel)]="orginalUrl" required>
      </div>
      <div class="control">
        <button class="button is-info" (click)="shortenUrl()">
          <span class="icon"><i class="fas fa-compress-arrows-alt"></i></span>
          <span>Compress me!</span>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="columns">
  <div class="column is-4 is-offset-4">

  </div>
</div>

<div class="columns" *ngIf="shortenedUrl">
  <div class="column is-8 is-offset-2">
    <table class="table is-fullwidth">
      <tbody>
        <tr>
          <th>
            <span class="icon"><i class="fas fa-link"></i></span>
            <span>Short version:</span>
          </th>
          <td><a href="{{ 'https://ushort-api.herokuapp.com/' + shortenedUrl.shortUrl }}">
              {{ 'https://ushort-api.herokuapp.com/' + shortenedUrl.shortUrl }}</a>
          </td>
        </tr>
        <tr>
          <th>
            <span class="icon"><i class="fas fa-link"></i></span>
            <span>Original Version:</span>
          </th>
          <td>{{shortenedUrl.fullUrl}}</td>
        </tr>
        <tr>
          <th>
            <span class="icon"><i class="fas fa-clock"></i></span>
            <span>Expires on:</span>
          </th>
          <td>{{parseDate(shortenedUrl.expires)}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div id="errorModal" [className]="errorMessage ? 'modal is-active' : 'modal'">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="box">
      <span class="icon"><i class="fas fa-exclamation-triangle"></i></span>
      <span>{{errorMessage}}</span>
    </div>
  </div>
  <button class="modal-close is-large" aria-label="close" (click)="closeErrorModal()"></button>
</div>